@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #d0cecc;
}

.header {
  background-color: #332e2b;
  color: white;
  padding: 15px 20px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 15;
}

.container {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  column-gap: 25px;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #9b9b9b;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown img {
  padding-top: 1px;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: color 0.3s;
}

.dropbtn:hover {
  color: #9b9b9b;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 40px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: flex;
  text-align: left;
  border: 0.3px solid;
}

.dropdown-content a img {
  padding-right: 3px;
  padding-bottom: 3px;
}

.dropdown-content a:hover {
  background-color: #4a4a4a;
  color: #fff;
}

.show {
  display: block;
}

.intro {
  max-height: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 45px;
  background-color: black;
}

.video-bg {
  position: relative;
  padding-bottom: 56.25%;
  z-index: 1;
}

.video__media {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.intro__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.intro__title {
  font-family: "Baskervville", serif;
  margin: 0;
  font-size: 55px;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

.text_intro {
  font-size: 25px;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  max-width: 800px;
  padding-top: 20px;
}

.wrapper {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #d0cecc;
}

.img-wrap-hid {
  display: none;
}

.img-wrap {
  margin-right: 20px;
}

.kazak {
  width: 500px;
  height: 600px;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.9);
}

.content {
  padding-left: 30px;
  padding-bottom: 10px;
  max-width: 700px;
}

.content p {
  padding-top: 30px;
  font-size: 21.85px;
  text-align: justify;
  font-weight: 300;
  line-height: 1.4;
}

.padd-1 {
  margin-top: 20px;
}

.head-text {
  font-family: "Baskervville", serif;
  font-size: 60px;
  font-weight: 700;
}

.new-wrapper-1 {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #d0cecc;
}

.new-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #d0cecc;
}

.new-wrapper-3 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #d0cecc;
}

.grey-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #4a4a4a;
  max-width: 1220px;
  padding-right: 50px;
}

.woman-img-wrap {
  margin-right: 20px;
}

.woman-img-wrap-head-1 {
  display: none;
}

.man-img-wrap-head-2 {
  display: none;
}

.woman-img-wrap-head-3 {
  display: none;
}

.woman {
  width: 610px;
  height: 400px;
}

.museum-head-text {
  font-family: "Baskervville", serif;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.grey-content {
  padding-top: 20px;
  padding-left: 25px;
  max-width: 540px;
  color: #fff;
}

.grey-content p {
  padding-top: 20px;
  font-size: 21.85px;
  text-align: justify;
  font-weight: 300;
  line-height: 1.4;
}

.second-grey-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #d0cecc;
}

.man-grey-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #4a4a4a;
  max-width: 1220px;
  padding-left: 50px;
}

.man-img-wrap {
  margin-left: 20px;
}

.man-grey-content {
  padding-top: 40px;
  padding-right: 25px;
  max-width: 540px;
  color: #fff;
}

.man2-grey-content {
  padding-top: 40px;
  padding-left: 25px;
  max-width: 540px;
  color: #fff;
}

.man2-grey-content p {
  padding-top: 30px;
  font-size: 21.85px;
  text-align: justify;
  font-weight: 300;
  line-height: 1.4;
}

.man-grey-content p {
  padding-top: 30px;
  font-size: 21.85px;
  text-align: justify;
  font-weight: 300;
  line-height: 1.4;
}

.man {
  width: 610px;
  height: 400px;
}

.third-grey-wrapper {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #d0cecc;
}

.first-man-text {
  margin-top: 20px;
}

.second-man-text {
  margin-top: 20px;
}

.singer {
  position: relative;
}

.singer-img {
  width: 100%;
  height: auto;
}

.title {
  position: absolute;
  top: 70px;
  left: 70px;
  max-width: 700px;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  text-align: justify;
  line-height: 1.4;
}

.figures-content {
  padding-right: 30px;
  padding-bottom: 10px;
  max-width: 650px;
}

.figures-content p {
  padding-top: 30px;
  font-size: 21.85px;
  text-align: justify;
  font-weight: 300;
  line-height: 1.4;
}

.figure-kazak {
  width: 550px;
  height: 730px;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.9);
}

.figure-img-wrap {
  margin-left: 20px;
}

.figure-img-wrap-head {
  display: none;
}

.grey-back {
  max-width: 1220px;
  background-color: #4a4a4a;
}

.grey-back-content {
  position: relative;
  text-align: justify;
  align-items: center;
  color: #fff;
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
}

.grey-back-content p {
  padding-top: 30px;
  font-size: 23.85px;
  text-align: justify;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  z-index: 2;
}

.grey-back-content-img {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
  column-gap: 30px;
}

.grey-back-content-img img {
  width: 340px;
  height: 340px;
  max-width: 100%;
}

.red-back {
  display: flex;
  position: absolute;
  margin: auto;
  top: 355px;
  left: 0;
  background-color: rgba(170, 76, 76, 0.4);
  opacity: 0.7;
  width: 1220px;
  height: 150px;
  z-index: 1;
}

/*-----------------------------------FIGURES-------------------------------------*/

.pdf-links {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  column-gap: 60px;
  text-align: center;
}

.header_pdf_links {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.header_pdf_links h1 {
  color: black;
  font-size: 45px;
  font-weight: 600;
}

.pdf-link-img img {
  width: 450px;
  height: 300px;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.9);
}

.pdf-link-content h1 {
  font-size: 35px;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 20px;
}

.pdf-link {
  padding-top: 10px;
}

.pdf-link-content ul li {
  padding-top: 15px;
}

.pdf-link-content ul li a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
  font-size: 28px;
  font-weight: 300;
  border-radius: 5px;
}

.pdf-link-content ul li a:hover {
  color: white;
  background-color: black;
  border: black 3px solid;
}

/*-----------------Footer------------------*/

.footer {
  background-color: #332e2b;
  color: white;
}

.footer h1 {
  font-family: "Baskervville", serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  padding-top: 30px;
}

.footer-content {
  padding: 30px 0px;
  /* display: grid;
  align-items: center; */
  margin: 0px auto;
  width: 330px;
  font-size: 20px;
  font-weight: 400;
}

.text {
  padding-bottom: 20px;
}

.number {
  padding: 10px 0px;
  text-decoration: none;
}

.icons {
  padding-top: 30px;
  display: flex;
  column-gap: 13px;
}

.icons img {
  width: 40px;
  height: 40px;
}
